.notification_container {
	animation: forwards slidein 3s cubic-bezier(0.485, 0.155, 0.24, 1.245);
}

@keyframes slidein {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
