.notification_container {
	animation: forwards slidein 3s linear;
}

@keyframes slidein {
	0% {
		transform: translate(-50%, -60px);
	}
	80% {
		transform: translate(-50%, -60px);
	}
	100% {
		transform: translate(-50%, -120px);
	}
}
