.categoryNav__slider {
	display: flex;
	overflow-x: scroll;
	justify-content: space-between;
	scroll-behavior: smooth;
}

.categoryNav__slider::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
