:root {
	--page-z-index: 200;
	--ui-padding: calc(1 * 0.375rem);
	--ui-border-radius: 14px;
	--primary-font: 'Roboto', sans-serif;
	--black-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	--primary-color: #f5a524;
}

body {
	box-sizing: border-box;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

.nextui-modal-close-icon-svg svg {
	color: white;
}

.footer__text div div:hover {
	text-shadow: 0px 4px 10px white;
	transform: scale(1.1);
}
