.menu__item {
	transform: rotateX(-90deg);
	transform-origin: top center;
	opacity: 0;
	animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes show {
	100% {
		opacity: 1;
		transform: none;
	}
}

.menu__item__metadata {
	padding-top: 10px;
	justify-content: space-around;
	position: absolute;
	top: 0;
	left: 1rem;
}

.menu__item__action {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 1rem;
	padding-bottom: 10px;
}
